#home-header {
  position: relative;
  width: 100%;
  height: 65vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 55px;
}

#pricing {
  position: absolute;
  left: 50%;
  top: 550px;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 15px;
  width: 100%;
}

#tagline {
}

#pricing .card {
  margin: 3px;
}

#pricing .card-body {
  height: 350px;
}

.header-title {
  width: 100%;
  display: block;
  background-color: #319c90;
  padding: 10px 0px 4px 0px;
}

.steps-header {
  width: 100%;
  display: block;
  height: 5px;
  background-color: #319c90;
}

.step-guide {
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: block;
}

.step {
  padding: 10px;
  color: #666;
}

.step h4 {
  position: absolute;
  font-size: 18px;
  top: 15px;
  left: 65px;
  font-weight: 600;
}

.step-num {
  height: 50px;
  width: 50px;
  display: block;
  background-color: #319c90;
  color: #fff;
  text-align: center;
  font-size: 24px;
  padding: 8px;
}

#testimonials {
}

footer {
  display: block;
  position: fixed;
  width: 100%;
  height: 40px;
  z-index: 100;
  bottom: 0px;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  font-weight: 500;
  background-color: #319c90;
}
