// Base grayscale colors definitions
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #319c90 !default;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

// Bootstrap and its default variables
@import "bootstrap/scss/bootstrap";
// BootstrapVue and its default variables
@import "bootstrap-vue/src/index.scss";

#showHome {
  position: fixed;
  z-index: 10000;
  top: 15px;
  color: #fff;
  left: 153px;
  font-size: 23px;
}
#showHome:hover {
  font-size: 20px;
}
#currentTermLabel {
  position: fixed;
  z-index: 30000;
  color: #fff;
  top: 20px;
  left: 185px;
}
.move {
  cursor: move;
}
.rooms-container {
  display: block;
  height: 295px;
  overflow-y: scroll;
}
.room {
  min-height: 35px;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 5px;
}
.add-btn {
  padding: 2px 6px;
  font-size: 12px;
}
// EVAL DASHBOARD
#faculty-dashboard {
  margin-top: 0px;
}
#faculty-breadcrumb {
  margin-top: 0px;
  background-color: #8392a447;
  border-radius: 0px;
}
#faculty-breadcrumb .breadcrumb-item a {
  color: #319c90;
  font-weight: 500;
}
#faculty-breadcrumb .active {
  color: #666;
  font-weight: 500;
}

// SCHEDULE
.time-block {
  // cursor: pointer;
}
.time-block:hover {
  background-color: aliceblue;
}
.break {
  background-color: #d0d0d0;
}
#InterviewSchedule th {
  font-size: 10px;
}
#InterviewSchedule td:first-child {
  font-size: 12px;
  font-weight: 500;
  max-width: 200px;
}
.candidate-block-container {
  text-align: center;
  margin: 0 auto;
  display: block;
  height: 100%;
}
.candidate-block {
  display: inline-block;
  float: left;
  border: 1px solid #eee;
  margin: 3px 7px 3px 7px;
  height: auto;
  width: 150px;
}
.schedule-pic {
  display: block;
  height: auto;
  width: 80px;
  height: 80px;
}
.schedule-footer {
  width: 100%;
  background-color: #eee;
  font-size: 12px;
  text-align: center;
  height: 30px;
  margin-bottom: 0px;
}
// GRID STUFF
.time-block {
  width: 100%;
  height: 100%;
  min-height: 85px;
  padding: 10px 5px 10px 5px;
}

.comment {
  padding: 2px !important;
  display: inline-block;
  width: 100%;
  margin-block-start: 0px !important;
  margin-block-end: 0px !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  float: left;
  margin-bottom: 1px;
}
.schedule-pic {
  height: 75px;
  border-radius: 100%;
  width: 75px;
  margin: 0 auto;
  display: block;
}
.application-pic {
  height: 75px;
  border-radius: 100%;
  width: 75px;
  display: inline-block;
}
// PDF VIEWER STUFF
#the-canvas {
  overflow: scroll;
}
.pdf-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
// ZOOM FRAME
//   #zmmtg-root {
//     width: 0%!important;
//     height: 0%!important;
//     top: 0;
//     left: 0;
// }
//  .open#zmmtg-root {
//     width: 50%!important;
//     height: 20%!important;
//     top: 50;
//     left: 50;
// }
